body {
  overflow-x: hidden;
}

.user,
.fa-user {
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
  color: #a0a3a7;
}
.user:hover{
  color: rgb(236, 118, 8);
}

.d-flex:hover a,
.d-flex:hover i {
  color: rgb(236, 118, 8);
}

.card {
  border: transparent;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.title {
  display: flex;
  justify-content: space-between;
}

.btn-age {
  background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
  color: white;
  font-weight: 400;
  border: transparent;
  padding: 6px 8px 8px;
  border-radius: 4px;
}

.title-movie {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(236, 118, 8);
}

.fa-star {
  color: rgb(236, 118, 8);
}

.custom-btn {
  margin: 2px 0;
  height: 40px;
  padding: 0 20px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-4 {
  background: rgb(0, 172, 238);
  height: 40px;
  line-height: 42px;
  border: none;
}

.btn-3 {
  background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
  height: 40px;
  line-height: 42px;
  border: none;

}


.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  transition: all 0.3s ease;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
  ;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 a,
.btn-3 span {
  color: white;
  text-decoration: none;
}

.btn-3:hover a,
.btn-3:hover span {
  color: rgba(251, 75, 2, 1);

}

.btn-3 a:before,
.btn-3 a:after,
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  transition: all 0.3s ease;
}

.btn-3 a:before,
.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 a:after,
.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 a:hover:before,
.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 a:hover:after,
.btn-3 span:hover:after {
  width: 100%;
}

.ticket {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.ticket button {
  width: 20px;
  height: 20px;
}

td {
  font-weight: bold;
}

.ghe {
  background-color: #dbdee1;
  border: 3px solid #dbdee1;
  width: 40px;
  height: 40px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}


.firstChar {
  color: yellow;
  font-size: 35px;
  margin-right: 15px;

}

.screen {
  border-bottom: 50px solid rgb(253, 110, 48);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 20px;
  width: 100%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
}

.screen::after {
  content: 'Màn Hình';
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.gheDuocChon {
  border: 3px solid #e11c01;
  background: #e11c01;
  color: #000;
  cursor: no-drop !important;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.gheDangChon {
  background: #7dc71d;
  border: 3px solid #7dc71d;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.gheDoi {
  background: #0cbfca;
  border: 3px solid #0cbfca;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 320px) {
  .num {
    padding: 0;
  }
  .rowNumber{
    display: none;
  }
  .back {
    margin-right: 4px;
  }

  .ticket {
    width: 100%;
  }

}


@media only screen and (min-width: 768px) {
  .back {
    margin-right: 10px;
  }

}

@media only screen and (min-width: 992px) {

  .ticket {
    width: 70%;
  }
}